doctype html
head
  title d3 proto
  script.
    var data = [
      {'Hazard Category': 'Confined Space', 'Incidents': 70},
      {'Hazard Category': 'Hotwork', 'Incidents': 15},
      {'Hazard Category': 'Occupational Health', 'Incidents': 34},
      {'Hazard Category': 'Choco pie', 'Incidents': 23},
      {'Hazard Category': 'Loomla', 'Incidents': 161},
      {'Hazard Category': 'Road Risk', 'Incidents': 3}
    ]
body
